CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_announce=y
CONFIG_PACKAGE_avahi-daemon-service-http=y
CONFIG_PACKAGE_avahi-daemon-service-ssh=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_avahi-utils=y
CONFIG_PACKAGE_ddns-scripts-freedns=y
CONFIG_PACKAGE_ddns-scripts-gandi=y
CONFIG_PACKAGE_dhcp-forwarder=y
CONFIG_PACKAGE_dns-over-https=y
CONFIG_DNSCRYPT_ENABLE_PLUGINS=y
CONFIG_PACKAGE_isc-dhcp-relay-ipv4=y
CONFIG_PACKAGE_overture=y
CONFIG_PACKAGE_ncat-full=y
CONFIG_PACKAGE_nmap-full=y
CONFIG_PACKAGE_wireguard-tools=y
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_dbus=y
