CONFIG_PACKAGE_batctl-default=y
CONFIG_PACKAGE_batctl-full=y
CONFIG_PACKAGE_bmx7=y
CONFIG_PACKAGE_bmx7-json=y
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_dcwapd=y
CONFIG_PACKAGE_ip-tiny=y
CONFIG_PACKAGE_iperf3=y
# CONFIG_PACKAGE_iw is not set
CONFIG_PACKAGE_iw-full=y
CONFIG_PACKAGE_kmod-batman-adv=y
CONFIG_PACKAGE_luci-app-bmx7=y
CONFIG_PACKAGE_luci-app-dcwapd=y
CONFIG_PACKAGE_luci-app-diag-core=y
CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_wireless-tools=y
# CONFIG_PACKAGE_wpad-basic is not set
CONFIG_PACKAGE_wpad-mesh-openssl=y
